<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to kohli html web page</h1>
       <a href="{% url 'app2:jadeja' %}">go to jadeja web page</a><br>
       <a href="{% url 'app2:rohit' %}">go to rohit web page</a><br>
       <a href="{% url 'app1:dhoni' %}">go to dhoni web page</a>

    </center>
</body>
</html>